<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="card mb-3 mx-auto" style="max-width: 70%;">
        <div class="row g-0">
            {{#each product}}
            <div class="col-md-4 cart" style="margin-top: 0px;">
                <img src="https://www.paydollar.in/images/creditcard-img1-india.jpg" class="img-fluid rounded-start" alt="QR code Not availble">
            </div>
            <div class="col-md-8 cart" style="margin-top: 0px; background: #f5b397;">
                <div class="card-body">
                    <h5 class="card-title">{{productName}}</h5>
                    <p class="card-text">{{description}}</p>
                    <h6>Price: ₹{{price}}</h6>
                    <h6 class="card-title">Quantity: {{quantity}}</h6>
                    <a class="btn btn-light" href="/users/buynow/{{_id}}/1" role="button">Online Purchase</a>
                    <span id="itemId" style="display: none;">{{_id}}</span>
                    <h3>Mobile users</h3>
                    <div id="qrcode"></div>
                </div>
                <div>
                    <img src="https://www.cm.com/cdn/web/hero/credit-cards-payment-platform-methods.svg" class="img-fluid rounded-start" alt="...">
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
